In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

The dataset used for this lab was obtained from:

Manu Siddhartha, November 6, 2020, "Bondora Peer-to-Peer Lending Data", IEEE Dataport, doi: https://dx.doi.org/10.21227/33kz-0s65.

#### Load and observe the data set

In [3]:

data = pd.read_csv('../data/loan_data.csv',low_memory=False )
data.head()

,new_customer,income_verification,language,age,gender,country,amount,loan_duration,use_of_loan,education,...,credit_score_equifax,credit_score_ee_mini,nr_previous_loans,amount_previous_loans,previous_repayments,previous_early_repayments,previous_early_repayments_count,default,credit_score_fi_asiakas_c,credit_score_fi_asiakas_n
0,0,expenses_verified,estonian,23,male,EE,5500.0,60,loan_consolidation,secondary,...,NaN,1000.0,1,3000.0,571.73,0.0,0,0,NaN,NaN
1,0,expenses_verified,russian,25,male,EE,1200.0,60,other,vocational,...,NaN,1000.0,1,500.0,194.98,0.0,0,0,NaN,NaN
2,1,unverified,estonian,22,female,EE,1000.0,60,other,basic,...,NaN,700.0,0,0.0,0.00,0.0,0,1,NaN,NaN
3,1,unverified,finnish,49,female,FI,1000.0,60,other,basic,...,NaN,NaN,0,0.0,0.00,0.0,0,0,RL2,NaN
4,0,expenses_verified,estonian,25,female,EE,4100.0,60,loan_consolidation,secondary,...,NaN,1000.0,1,1500.0,1309.03,0.0,0,0,NaN,NaN

In [4]:
data.shape

(75693, 33)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75693 entries, 0 to 75692
Data columns (total 33 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   new_customer                     75693 non-null  int64
 1   income_verification              75693 non-null  object
 2   language                         75693 non-null  object
 3   age                              75693 non-null  int64
 4   gender                           75693 non-null  object
 5   country                          75693 non-null  object
 6   amount                           75693 non-null  float64
 7   loan_duration                    75693 non-null  int64
 8   use_of_loan                      75693 non-null  object
 9   education                        75693 non-null  object
 10  marital_status                   75693 non-null  object
 11  nr_dependants                    30677 non-null  float64
 12  employment_status                75658 non-null  object
 13  employment_duration              75322 non-null  object
 14  work_experience                  31511 non-null  object
 15  occupation                       75693 non-null  object
 16  home_ownership                   75693 non-null  object
 17  income                           75693 non-null  float64
 18  existing_debt                    75693 non-null  int64
 19  total_debt                       75693 non-null  float64
 20  debt_to_income                   75693 non-null  float64
 21  disposable_income                75693 non-null  float64
 22  credit_score_microL              51204 non-null  object
 23  credit_score_equifax             11766 non-null  object
 24  credit_score_ee_mini             34363 non-null  float64
 25  nr_previous_loans                75693 non-null  int64
 26  amount_previous_loans            75693 non-null  float64
 27  previous_repayments              56377 non-null  float64
 28  previous_early_repayments        46789 non-null  float64
 29  previous_early_repayments_count  75693 non-null  int64
 30  default                          75693 non-null  int64
 31  credit_score_fi_asiakas_c        6061 non-null   object
 32  credit_score_fi_asiakas_n        14489 non-null  float64
dtypes: float64(11), int64(7), object(15)
memory usage: 19.1+ MB

##### Split the data

In [8]:
missing_percentage = data.isnull().mean() * 100
missing_percentage

new_customer                        0.000000
income_verification                 0.000000
language                            0.000000
age                                 0.000000
gender                              0.000000
country                             0.000000
amount                              0.000000
loan_duration                       0.000000
use_of_loan                         0.000000
education                           0.000000
marital_status                      0.000000
nr_dependants                      59.471814
employment_status                   0.046239
employment_duration                 0.490138
work_experience                    58.369995
occupation                          0.000000
home_ownership                      0.000000
income                              0.000000
existing_debt                       0.000000
total_debt                          0.000000
debt_to_income                      0.000000
disposable_income                   0.000000
credit_score_microL                32.353058
credit_score_equifax               84.455630
credit_score_ee_mini               54.602143
nr_previous_loans                   0.000000
amount_previous_loans               0.000000
previous_repayments                25.518872
previous_early_repayments          38.185830
previous_early_repayments_count     0.000000
default                             0.000000
credit_score_fi_asiakas_c          91.992655
credit_score_fi_asiakas_n          80.858204
dtype: float64

In [38]:
missing_columns = data.columns[100*(data.isnull().sum()/len(data.index)) > 40]
missing_columns

Index(['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary', 'DefaultDate',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory'],
      dtype='object')

In [39]:
lose_data = ['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary', 'DefaultDate',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory']

In [40]:
data.shape

(134529, 112)

In [41]:
new_df = data.drop(lose_data, axis=1)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134529 entries, 0 to 134528
Data columns (total 76 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   ReportAsOfEOD                           134529 non-null  object
 1   LoanId                                  134529 non-null  object
 2   LoanNumber                              134529 non-null  int64
 3   ListedOnUTC                             134529 non-null  object
 4   BiddingStartedOn                        134529 non-null  object
 5   BidsPortfolioManager                    134529 non-null  int64
 6   BidsApi                                 134529 non-null  int64
 7   BidsManual                              134529 non-null  float64
 8   UserName                                134529 non-null  object
 9   NewCreditCustomer                       134529 non-null  bool
 10  LoanApplicationStartedDate              134529 non-null  object
 11  LoanDate                                134529 non-null  object
 12  FirstPaymentDate                        134529 non-null  object
 13  MaturityDate_Original                   134529 non-null  object
 14  MaturityDate_Last                       134529 non-null  object
 15  ApplicationSignedHour                   134529 non-null  int64
 16  ApplicationSignedWeekday                134529 non-null  int64
 17  VerificationType                        134484 non-null  float64
 18  LanguageCode                            134529 non-null  int64
 19  Age                                     134529 non-null  int64
 20  DateOfBirth                             134529 non-null  object
 21  Gender                                  134484 non-null  float64
 22  Country                                 134529 non-null  object
 23  AppliedAmount                           134529 non-null  float64
 24  Amount                                  134529 non-null  float64
 25  Interest                                134529 non-null  float64
 26  LoanDuration                            134529 non-null  int64
 27  MonthlyPayment                          127844 non-null  float64
 28  County                                  97689 non-null   object
 29  City                                    124735 non-null  object
 30  UseOfLoan                               134529 non-null  int64
 31  Education                               134484 non-null  float64
 32  MaritalStatus                           134484 non-null  float64
 33  EmploymentStatus                        134332 non-null  float64
 34  EmploymentDurationCurrentEmployer       133653 non-null  object
 35  OccupationArea                          134443 non-null  float64
 36  HomeOwnershipType                       132877 non-null  float64
 37  IncomeFromPrincipalEmployer             134529 non-null  float64
 38  IncomeFromPension                       134529 non-null  float64
 39  IncomeFromFamilyAllowance               134529 non-null  float64
 40  IncomeFromSocialWelfare                 134529 non-null  float64
 41  IncomeFromLeavePay                      134529 non-null  float64
 42  IncomeFromChildSupport                  134529 non-null  float64
 43  IncomeOther                             134529 non-null  float64
 44  IncomeTotal                             134529 non-null  float64
 45  ExistingLiabilities                     134529 non-null  int64
 46  LiabilitiesTotal                        134529 non-null  float64
 47  RefinanceLiabilities                    134529 non-null  int64
 48  DebtToIncome                            134484 non-null  float64
 49  FreeCash                                134484 non-null  float64
 50  MonthlyPaymentDay                       134529 non-null  int64
 51  ActiveScheduleFirstPaymentReached       134529 non-null  bool
 52  PlannedInterestTillDate                 130587 non-null  float64
 53  LastPaymentOn                           124998 non-null  object
 54  ExpectedLoss                            131893 non-null  float64
 55  LossGivenDefault                        131893 non-null  float64
 56  ExpectedReturn                          131893 non-null  float64
 57  ProbabilityOfDefault                    131893 non-null  float64
 58  PrincipalOverdueBySchedule              119692 non-null  float64
 59  StageActiveSince                        80954 non-null   object
 60  ModelVersion                            131893 non-null  float64
 61  Rating                                  131799 non-null  object
 62  Status                                  134529 non-null  object
 63  Restructured                            134529 non-null  bool
 64  WorseLateCategory                       89073 non-null   object
 65  CreditScoreEsMicroL                     104955 non-null  object
 66  PrincipalPaymentsMade                   134529 non-null  float64
 67  InterestAndPenaltyPaymentsMade          134529 non-null  float64
 68  PrincipalBalance                        134529 non-null  float64
 69  InterestAndPenaltyBalance               134529 non-null  float64
 70  NoOfPreviousLoansBeforeLoan             134529 non-null  int64
 71  AmountOfPreviousLoansBeforeLoan         134529 non-null  float64
 72  PreviousRepaymentsBeforeLoan            91368 non-null   float64
 73  PreviousEarlyRepaymentsCountBeforeLoan  134529 non-null  int64
 74  NextPaymentNr                           97788 non-null   float64
 75  NrOfScheduledPayments                   97788 non-null   float64
dtypes: bool(3), float64(38), int64(14), object(21)
memory usage: 75.3+ MB

In [ ]:

# Handle missing values
data.dropna(inplace=True)

# Encode categorical variables
label_encoders = {}
for column in categorical_columns:
    label_encoders[column] = LabelEncoder()
    data[column] = label_encoders[column].fit_transform(data[column])

# Split data into features and target variable
X = data.drop(columns=['target_variable'])
y = data['target_variable']

In [ ]:
# Scale numerical features
scaler = StandardScaler()
X[numerical_columns] = scaler.fit_transform(X[numerical_columns])

# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)